@import "../packages/oak/lib/index"
@import "../packages/oak-addon-basic-components/lib/index"
@import "../packages/oak-addon-richtext-field/lib/index"
@import "../packages/oak-prosemirror-editor/lib/index"
body
  padding: 20px 0
