name: CI

on:
  push:
    branches: [master, develop, next]
  pull_request:
    branches: [master, develop]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Build package
        run: yarn build
      - name: Eslint check
        run: yarn lint
      - name: Types check
        run: yarn tsc
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
      - name: Codecov upload
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    name: Building
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Build
        run: yarn build
